---
interface Props {
  techs: string[]
}

const { techs } = Astro.props
---
<ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
  {
    techs.map((tech) => (
      <li class="mr-1.5 mt-2">
        <div class="flex items-center rounded-full bg-apppurple/10 px-3 py-1 text-xs font-medium leading-5 text-apppurple ">{tech}</div>
      </li>
    ))
  }
</ul>
