<main class="main">

  <section class="section-description">
    <h6 class="text--primary im">Soy</h6>

    <svg class="name" viewBox="0 0 270 50">
      <text x="50%" y="50%" dy=".32em" text-anchor="middle" class="text-body">
        Luis Bonilla
      </text>
    </svg>

    <div class="separator"></div>

    <p class="text--primary description">Desarrollador freelancer con 4 años de experiencia laboral. Desarrollador en Openlab como frontend, diseño de interfaces y experiencia de usuario.</p>
  </section>

  <section class="section-photo">
    <svg viewBox="0 0 1000 1000">
      <defs>
        <radialGradient id="b" r="100%" cx="50%" cy="50%">
          <stop offset="0%" stop-color="#2c2e3d"/><stop offset="100%" stop-color="#282834"/>
        </radialGradient>
      </defs>
      <g clip-path="url(#a)">
        <path fill="url(#b)" d="M782.5 715.5Q640 931 370 861T101 501q1-290 264-343t411.5 144.5q148.5 197.5 6 413Z">
        <animate
            attributeName="d"
            dur="10000ms"
            repeatCount="indefinite"
            values="
              M782.5 715.5Q640 931 370 861T101 501q1-290 264-343t411.5 144.5q148.5 197.5 6 413Z;
              M816.5 713.5Q639 927 406.5 832T167 495q-7-242 239.5-354.5t417 123.5q170.5 236-7 449.5Z;
              M769 692Q625 884 373 830T111 493q-10-283 252-331t406 145q144 193 0 385Z;
              M806 722.5Q644 945 394.5 851.5T129 488.5q-16-269.5 252-358T808.5 271Q968 500 806 722.5Z;
              M782.5 715.5Q640 931 370 861T101 501q1-290 264-343t411.5 144.5q148.5 197.5 6 413Z
            ">
          </animate>
        </path>
      </g>
    </svg>
    <img class="photo" src="assets/images/portrait.png" alt="Me">
  </section>
  <section class="section-thoughts">
    <p class="text--primary thoughts">Construyamos productos de calidad con la mejor solución disponible.</p>

    <a href="" class="text--primary show-more">Mostrar más<i class="ri-arrow-right-line"></i></a>

    <section class="section-links">
      <a href="" class="text--primary link" appClassOnHover><i class="ri-linkedin-fill" classOnHoverName="shake-bottom"></i></a>
      <a href="" class="text--primary link" appClassOnHover><i class="ri-youtube-fill" classOnHoverName="shake-bottom"></i></a>
      <a href="" class="text--primary link" appClassOnHover><i class="ri-facebook-circle-fill" classOnHoverName="shake-bottom"></i></a>
    </section>
  </section>

</main>

